# GOREV 1

List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz

In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows' , None)
pd.set_option('display.max_columns' , None)
pd.set_option('display.width' , 500)

In [3]:
df = sns.load_dataset("car_crashes")

In [4]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_losses', 'abbrev'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [8]:
["NUM_" + col.upper() if df[col].dtype != "o"  else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'NUM_ABBREV']

# GOREV 2

List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [9]:
## Tüm değişkenlerin isimleri büyük harf olmalı.
## Tek bir list comprehension yapısı ile yapılmalı.

In [10]:
[col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

# GOREV 3

List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan degiskenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [11]:
og_list = ["abbrev" , "no_previous"]

In [12]:
## Önce verilen listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
## Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz ve adını new_df olarak isimlendiriniz.

In [13]:
new_cols = [col for col in df.columns if col not in og_list]

In [14]:
new_cols

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

In [15]:
new_df = df[new_cols]

In [16]:
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63