# question_1

In [1]:
names = ["denise", "jean", "fleur"]

In [2]:
ages = [20, 32, 45]

In [3]:
cities = ["lyon", "lille", "nantes"]

In [4]:
list(zip(names,ages,cities))

[('denise', 20, 'lyon'), ('jean', 32, 'lille'), ('fleur', 45, 'nantes')]

# question_2

In [5]:
wages = [1000,2000,3000,4000,5000]

In [6]:
new_wages = lambda x: x * 0.20 + x

In [7]:
list(map(new_wages, wages))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

# question_3

In [8]:
students = ["Denise", "Arsen", "Tony", "Audrey"]

In [9]:
low = lambda x: x[0].lower()

In [10]:
print(list(map(low, students)))

['d', 'a', 't', 'a']

# question_4

In [11]:
dictn = {"Denise": 10, "Arsen": 12, "Tony" : 15, "Audrey": 17}

In [12]:
new_dict = {k: v * 2 +3 for(k, v) in dictn.items()}

In [13]:
new_dict

{'Denise': 23, 'Arsen': 27, 'Tony': 33, 'Audrey': 37}

# question_5

In [14]:
numbers = range(1, 10)

In [15]:
{n: n**2 for n in numbers if n  % 2 != 0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}